$color-primary: hsl(333, 80%, 67%);
$color-primary--light: hsl(303, 10%, 53%);
$color-primary--dark: hsl(300, 43%, 22%);
$color-secondary: hsl(300, 24%, 96%);
$color-secondary--light: hsl(0, 0%, 100%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Spartan", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 900px) {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-size: 40%, 30%;
    background-position: top -23% left -9%, bottom right -80%;
  }
  @media (min-width: 1140px) {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-size: 50%, 80%;
    background-position: top -23% left -9%, bottom right -30%;
  }
}
